:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  color: white;
  background: #424c58;
  font-weight: bold;
  font-size: 1.6em;
  padding: 20px 0;
  text-align: center;
}
