<div class="triggers">
    <div class="home-status">
        <span class="status-title">Current status</span>
        <ng-template *ngIf="homeConfig?.status == 'locked' then locked else unlocked"></ng-template>
        <ng-template #locked>
            <span class='status'><b>No one</b> is at home.</span>
        </ng-template>
        <ng-template #unlocked>
            <span class='status'>You are at home.</span>
        </ng-template>
    </div>

    <div class="sensor-status-container">
        <h2>Sensor statuses</h2>

        <div class="element flameSensor">
            <span class="sensor-name">Flame sensor</span>
            <div *ngIf="homeConfig?.flameSensor" class="switcher sensor-on" (click)="updateFlameSensor(false)">Active</div>
            <div *ngIf="!homeConfig?.flameSensor" class="switcher sensor-off" (click)="updateFlameSensor(true)">Inactive</div>
        </div>

        <div class="element methaneSensor">
            <span class="sensor-name">Methane sensor</span>
            <div *ngIf="homeConfig?.methaneSensor" class="switcher sensor-on" (click)="updateMethaneSensor(false)">Active</div>
            <div *ngIf="!homeConfig?.methaneSensor" class="switcher sensor-off" (click)="updateMethaneSensor(true)">Inactive</div>
        </div>

        <div class="element motionSensor">
            <span class="sensor-name">Motion sensor</span>
            <div *ngIf="homeConfig?.motionSensor" class="switcher sensor-on" (click)="updateMotionSensor(false)">Active</div>
            <div *ngIf="!homeConfig?.motionSensor" class="switcher sensor-off" (click)="updateMotionSensor(true)">Inactive</div>
        </div>
    </div>

    <!-- <div class="imHomeSimulation">
        <mat-slide-toggle
            class="example-margin"
            (change)="updateImHomeSimulationSensor($event)"
            [checked]="homeConfig?.imHomeSimulation">
        mittudomén sensor
        </mat-slide-toggle>
    </div> -->
</div>
<div class="alerts">
    <div *ngIf="homeConfig?.flameAlert || homeConfig?.methaneAlert || homeConfig?.motionAlert">
        <div class="alert-row" *ngIf="homeConfig?.flameAlert">
            <span class="alert-text">Fire detected in your house</span>
            <button class="alert-button" (click)="updateOnAlertClose('flameAlert')">Disarm</button>
        </div>
        <div class="alert-row" *ngIf="homeConfig?.methaneAlert">
            <span class="alert-text">Methane detected in house</span>
            <button class="alert-button" (click)="updateOnAlertClose('methaneAlert')">Disarm</button>
        </div>
        <div class="alert-row" *ngIf="homeConfig?.motionAlert">
            <span class="alert-text">Motion detected in house</span>
            <button class="alert-button" (click)="updateOnAlertClose('motionAlert')">Disarm</button>
        </div>
    </div>
</div>