:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

header {
  color: white;
  background: #424c58;
  font-weight: bold;
  font-size: 1.6em;
  padding: 20px 0;
  text-align: center;
}

main {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

footer {
  background: #eee;
  border-top: 1px solid #424c58;
  color: #424c58;
  display: flex;
  justify-self: flex-end;
  margin-top: auto;
  flex-direction: row;

  .menu-button {
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    flex: 1;
    padding: 20px 0;
  }

  .menu-button:first-child {
    border-right: 1px solid #424c58;
  }
}
