:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  color: white;
  background: #0f5169;
  font-weight: bold;
  font-size: 1.6em;
  padding: 20px 0;
  text-align: center;
}

main {
    background: #F7F7F7;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

footer {
  background: #0F5169;
  color: #FAFAFA;
  display: flex;
  justify-self: flex-end;
  margin-top: auto;
  flex-direction: row;

  .menu-button {
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    flex: 1;
    padding: 20px 0;
  }

  .menu-button:first-child {
    border-right: 1px solid #FAFAFA;
  }
}
